body {
  background-color: #121826;
  margin: 0;
}

/* Judul awal */
.judulweb h1 {
  color: #E5E7EB;
  font-size: 60px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.judulweb p {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

/* Judul akhir */

/* cover awal  */
html {
  scroll-behavior: smooth;
}

.divtoro {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.divharis {
  text-align: right;
}

.divdimasharis a {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.emailhrdcom a {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}
.namajabatan h2 {
  color: #06faee;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.namajabatan q {
  color: #fac106;
  font-family: 'Open Sans';
}

/* kartu dimas/haris awal */
.divdimasharis {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 350px;
  padding-left: 300px;
}

.divdimasharis a {
  color: #06faee;
  text-decoration: none;
}

.divdimasharis a:hover {
  color: white;
}

.divdimasharis a:active {
  color: red;
}
/* kartu dimas/haris akhir */
/* cover akhir  */

/* email hrd awal */
.emailhrdcom {
  text-align: center;
  text-decoration: none;
}

.emailhrdcom a {
  text-decoration: none;
  color: rgb(238, 255, 0);
}

.emailhrdcom a:hover {
  color: white;
}
/* email hrd akhir */

/* judul materi hrd awal */
.judul-materi {
  text-align: center;
  color: #fac106;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* judul materi hrd akhir */

/* isi materi hrd awal */
.ceritanya a {
  color: white;
  text-decoration: none;
  margin: 20px;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.ceritanya p {
  color: rgb(221, 245, 5);
  text-decoration: none;
  margin: 20px;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.ceritanya a:hover {
  color: #06faee;
}
.ceritanya sub{
  color: #fac106;
  font-size: 13px;
}
/* isi materi hrd akhir */


/* kartu awal */
.Kartutoro {
  color: #06faee;
  text-decoration: none;
}

.divtoro a:hover {
  color: #fac106;
  text-decoration: none;
}

.shoutcut-kartu a:active {
  color: red !important;
}

.Kartutoro {
  scroll-margin-top: 60px;
}

.namajabatan h2{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  color: #fac106;
}

.namajabatan q{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: #ffffff;
}

/* kartu profil awal */
.kartu-profil {
  width: 50%;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 70px;
  box-shadow: 20px 10px 5px rgba(0, 0, 0, 0.301);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/* kartu profil akhir */
/* kartu akhir */


/* foto ber3 awal */
.fotober3 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #fac106 ; box-shadow: 0 20px 15px rgba(0, 0, 0, 0.5); border-radius: 8px;
}

.fotober3 img:hover {
transform: scale(1.02); transition: transform 0.3s ease;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6); transition: box-shadow 0.3s ease;
}
/* foto ber3 akhir */
