body {
  background-color: #121826;
  margin: 0;
}

html {
  scroll-behavior:smooth;
}

/* kartu toro awal */
.Kartutoro {
 color: #06faee;
 text-decoration: none;
}

.divtoro a:hover{
 color: #fac106;
 text-decoration: none;
}

.shoutcut-kartu a:active{
  color: red !important;
}
.Kartutoro{
  scroll-margin-top: 60px;
}

/* kartu toro akhir */

/* kartu dimas/haris awal */
.divdimasharis{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 350px;
  padding-left: 300px; 
  
}

.divdimasharis a {
color:#06faee;
text-decoration: none;
}

.divdimasharis a:hover {
color: white ;
}

.divdimasharis a:active {
color: red ;
}
/* kartu dimas/haris akhir */


/* email hrd awal */
.emailhrdcom {
  text-align: center;
  text-decoration: none;
}

.emailhrdcom a{
  text-decoration: none;
  color: rgb(238, 255, 0);
}

.emailhrdcom a:hover{
  color: white;
}
/* email hrd akhir */

/* judul materi hrd awal */
.Judul-materi{
  text-align: center;
  color: #fac106;
  font-family: 'arial';
}
/* judul materi hrd akhir */

/* isi materi hrd awal */
.ceritanya a{
  color: white;
  text-decoration: none;
  margin: 20px;
}
.ceritanya p{
  color: rgb(221, 245, 5);
  text-decoration: none;
  margin: 20px;
}
.ceritanya a:hover{
  color: #06faee;
}
/* isi materi hrd akhir */


.kartu-profil {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  text-align: center;
}

.Triomaut {
 display: block;
 margin-left: auto;
 margin-right: auto;
}

.divtoro{
  text-align: center;
}

.divharis{
  text-align: right;
}



